<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="{{ '/css/main.css'  | relative_url }}">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="{{ '/' | relative_url }}">Home</a></li>
<li><a href="{{ '/blog' | relative_url }}">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="https://github.com/vancun/nipybuilder">NiPi Builder GitHub</a></li>
   </ul>
  </footer>
  </body>

</html>
